
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: "Courier New", monospace;
  background-image: url('images/fond-nuages-moches-new.png');
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  padding: 80px 10px; 
}
 

.container {
  width: 100%;
  max-width: 900px; 
  display: flex;
  justify-content: center;
  z-index: 1;
}
 

.page-a4 {
  width: 100%;
  aspect-ratio: 210 / 400; 
  background-color: rgb(255, 249, 253);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}
 
.banniere2 {
  position: relative;
  width: 100%;
  top: -13%;
  height: 5%;
  z-index: 2;
   background-color: rgba(245, 149, 255);
}
 

.banniere {
  position: relative;
  width: 100%;
  top: 4%;
  z-index: 1;
}
 
.banniere-fond {
  width: 100%;
  height: auto;
  display: block;
}
 

.pixel-title {
  position: absolute;
  top: 8%;       
  left: 42%;       
  transform: translateY(-50%);
  font-family: "Pixelify Sans", sans-serif;
  font-size:  clamp(1.1rem, 2.8vw, 1.6rem);
  font-weight: 700;
  color: white;
  max-width: 100%;
  z-index: 10;
  text-align: left; 
}
 
.pixel-title2 {
  position: absolute;
  top: 12.5%;        
  left: 42%;      
  transform: translateY(-50%); 
  font-family: "Pixelify Sans", sans-serif;
  font-size:  clamp(1rem, 2.4vw, 1.4rem);
  font-weight: 700;
  color: white;
  width: 50%;
  max-width: 70%;
  z-index: 10;
  text-align: left; 
}
 

.gif-noeuds {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
  height: auto;
  z-index: 5;
}
 

.cercle-neko {
  position: absolute;
  top: 7.5%;
  left: 8%;
  width: 28.7%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: white;
  opacity: 0.9;
  z-index: 6;
}
 

.cadre-neko {
  position: absolute;
  top: 6%;
  left: 5%;
  width: 35%;
  height: auto;
  z-index: 7;
}
 
.logo {
  position: absolute;
  top: 7.3%;
  left: 3%;
  width: 40%;
  height: auto;
  z-index: 10;
}
 
.window-contact {
  position: absolute;
  top: 21%;
  left: 44%;
  width: 27%;
  height: auto;
  z-index: 8;
}

.carre-contact {
  position: absolute;
  top: 21.3%;
  left: 44.5%;
  width: 8%;
  height: 1%;;
  z-index: 9;
 background-color: rgba(2, 0, 161);
}

.contact {
  position: absolute;
top: 21.25%;
  left: 44.8%;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  width: 50%;
  height: auto;
  z-index: 10;
  color: white;
}
 
.window-mobilite {
  position: absolute;
  top: 21%;
  left: 72%;
  width: 27%;
  height: auto;
  z-index: 8;
}

.carre-mobilite {
  position: absolute;
  top: 21.3%;
  left: 72.5%;
  width: 8%;
  height: 1%;;
  z-index: 9;
 background-color: rgba(2, 0, 161);
}

.adresses {
  position: absolute;
 top: 21.2%;
  left: 72.8%;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  width: 50%;
  height: auto;
  z-index: 10;
  color: white;
}
 
.pixel-nom {
  position: absolute;
  top: 28%;        
  left: 21%;       
  font-family: "Pixelify Sans", sans-serif;
  font-size: clamp(1.4rem, 3.5vw, 2.1rem) !important;
  font-weight: 700;
  color: white;
  width: 20%;
  max-width: 200%;
  z-index: 10;
  text-align: left; 
}
 
 

.contenu-page {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonnes */
  gap: 2rem;
  margin-top: 2rem;
  font-family: "Pixelify Sans", sans-serif;
  font-size: clamp(0.7rem, 1.2vw, 1rem);
  color: black;
}
 
.contenu-page h1 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 0.5rem;
}
 
.text-right {
     width: 50%;
  left: 14%;
  position: absolute;
  z-index: 3;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
}
 
.text-right-right {
   width: 50%;
  left: 46%;
  position: absolute;
  z-index: 3;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
}
 
 .text-column {
  top: 34%;
}
 
 .text-column2 {
  top: 75%;
}
 
 
.text-left {
     width: 50%;
  left: 1%;
  position: absolute;
  z-index: 3;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
}
 
.text1-right {
   top: 40.5%;
}
 
.text1-left {
   top: 47%;
}
 
.text2-right {
   top: 57.5%;
}
 
.text2-left {
   top: 64%;
}
 
.text3-right {
   top: 71.5%;
}
 
.text3-left {
   top: 78%;
}
 
.text4-right {
   top: 85.5%;
}
 
 
 .text-orange {
  color: rgba(255, 125, 0);
}
 
 .text-bleu {
  color: rgba(0, 132, 255);
}
 
 .text-rouge {
  color: rgba(255, 0, 0);
}
 
.text-mikucolor {
  color: rgba(18, 211, 163);
}
 
.text-vert {
  color: rgba(4, 181, 71);
}
 
.text-rose {
  color: rgba(241, 77, 216);
}
 
.text-violet {
  color: rgba(151, 38, 204);
}
 
 
 

.rectangle-nom {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 34%;
    height: 11%;
  background-color: rgba(243, 164, 216);
  border-radius: 1.25rem;
  border: 0.1em solid rgba(234, 97, 187);
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  overflow: hidden;
}
 
.fond-rectangle-nom {
  position: absolute;
    top: -10%;
    left: -10%;
  width: 55%;
  height: 150%;
  object-fit: cover;  
  display: block;
 background-color: rgba(254, 242, 242);
  border-radius: 1.25rem;
  overflow: hidden;
}
 
.fond-rectangle-nom img {
  position: absolute;
  top: 7%;
    left: -44%;
 width: auto;
  height: 160%;
  object-fit: cover;  
  display: block;
}
 
 
 .carre {
  position: absolute;
  left: 2%;
  width: 11%;
  height: 6%;
  background-color: white;
  border: 0.2em solid rgba(234, 97, 187);
  overflow: hidden;
}
 
.carre1 {
  top: 41%;
}
 
.carre1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
 
 
.carre2 {
  top: 58%;
}
 
.carre2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
 
 
.carre3 {
  top: 72%;
}
 
.carre3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
 
.carre4 {
  top: 86%;
}
 
.carre4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
 
.separateur {
  position: absolute;
  top: 30%;
  left: 40%;
width: auto !important;
height: 70% !important;
   z-index: 10;
}
 
.banniere-etoile {
position: absolute;
  top: 65%;
  left: 46%;
width: 51%;
height: auto;
   z-index: 10;
}
 
.barre-haut,
.barre-bas {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
}
 
.barre-haut { top: 0; }
.barre-bas { bottom: 0; }
 
.barre-haut img,
.barre-bas img {
  width: 100%;
  height: auto;
  display: block;
}
 

@media (max-width: 768px) {
  .contenu-page {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
 











